BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "clk" SITE "X";
LOCATE COMP "rst" SITE "X";
LOCATE COMP "pll_locked" SITE "X";
LOCATE COMP "ddram_a[0]" SITE "X";
LOCATE COMP "ddram_a[1]" SITE "X";
LOCATE COMP "ddram_a[2]" SITE "X";
LOCATE COMP "ddram_a[3]" SITE "X";
LOCATE COMP "ddram_a[4]" SITE "X";
LOCATE COMP "ddram_a[5]" SITE "X";
LOCATE COMP "ddram_a[6]" SITE "X";
LOCATE COMP "ddram_a[7]" SITE "X";
LOCATE COMP "ddram_a[8]" SITE "X";
LOCATE COMP "ddram_a[9]" SITE "X";
LOCATE COMP "ddram_a[10]" SITE "X";
LOCATE COMP "ddram_a[11]" SITE "X";
LOCATE COMP "ddram_a[12]" SITE "X";
LOCATE COMP "ddram_a[13]" SITE "X";
LOCATE COMP "ddram_a[14]" SITE "X";
LOCATE COMP "ddram_ba[0]" SITE "X";
LOCATE COMP "ddram_ba[1]" SITE "X";
LOCATE COMP "ddram_ba[2]" SITE "X";
LOCATE COMP "ddram_ras_n" SITE "X";
LOCATE COMP "ddram_cas_n" SITE "X";
LOCATE COMP "ddram_we_n" SITE "X";
LOCATE COMP "ddram_cs_n" SITE "X";
LOCATE COMP "ddram_dm[0]" SITE "X";
LOCATE COMP "ddram_dm[1]" SITE "X";
LOCATE COMP "ddram_dq[0]" SITE "X";
LOCATE COMP "ddram_dq[1]" SITE "X";
LOCATE COMP "ddram_dq[2]" SITE "X";
LOCATE COMP "ddram_dq[3]" SITE "X";
LOCATE COMP "ddram_dq[4]" SITE "X";
LOCATE COMP "ddram_dq[5]" SITE "X";
LOCATE COMP "ddram_dq[6]" SITE "X";
LOCATE COMP "ddram_dq[7]" SITE "X";
LOCATE COMP "ddram_dq[8]" SITE "X";
LOCATE COMP "ddram_dq[9]" SITE "X";
LOCATE COMP "ddram_dq[10]" SITE "X";
LOCATE COMP "ddram_dq[11]" SITE "X";
LOCATE COMP "ddram_dq[12]" SITE "X";
LOCATE COMP "ddram_dq[13]" SITE "X";
LOCATE COMP "ddram_dq[14]" SITE "X";
LOCATE COMP "ddram_dq[15]" SITE "X";
LOCATE COMP "ddram_dqs_p[0]" SITE "X";
LOCATE COMP "ddram_dqs_p[1]" SITE "X";
LOCATE COMP "ddram_dqs_n[0]" SITE "X";
LOCATE COMP "ddram_dqs_n[1]" SITE "X";
LOCATE COMP "ddram_clk_p" SITE "X";
LOCATE COMP "ddram_clk_n" SITE "X";
LOCATE COMP "ddram_cke" SITE "X";
LOCATE COMP "ddram_odt" SITE "X";
LOCATE COMP "ddram_reset_n" SITE "X";
LOCATE COMP "init_done" SITE "X";
LOCATE COMP "init_error" SITE "X";
LOCATE COMP "wb_ctrl_adr[0]" SITE "X";
LOCATE COMP "wb_ctrl_adr[1]" SITE "X";
LOCATE COMP "wb_ctrl_adr[2]" SITE "X";
LOCATE COMP "wb_ctrl_adr[3]" SITE "X";
LOCATE COMP "wb_ctrl_adr[4]" SITE "X";
LOCATE COMP "wb_ctrl_adr[5]" SITE "X";
LOCATE COMP "wb_ctrl_adr[6]" SITE "X";
LOCATE COMP "wb_ctrl_adr[7]" SITE "X";
LOCATE COMP "wb_ctrl_adr[8]" SITE "X";
LOCATE COMP "wb_ctrl_adr[9]" SITE "X";
LOCATE COMP "wb_ctrl_adr[10]" SITE "X";
LOCATE COMP "wb_ctrl_adr[11]" SITE "X";
LOCATE COMP "wb_ctrl_adr[12]" SITE "X";
LOCATE COMP "wb_ctrl_adr[13]" SITE "X";
LOCATE COMP "wb_ctrl_adr[14]" SITE "X";
LOCATE COMP "wb_ctrl_adr[15]" SITE "X";
LOCATE COMP "wb_ctrl_adr[16]" SITE "X";
LOCATE COMP "wb_ctrl_adr[17]" SITE "X";
LOCATE COMP "wb_ctrl_adr[18]" SITE "X";
LOCATE COMP "wb_ctrl_adr[19]" SITE "X";
LOCATE COMP "wb_ctrl_adr[20]" SITE "X";
LOCATE COMP "wb_ctrl_adr[21]" SITE "X";
LOCATE COMP "wb_ctrl_adr[22]" SITE "X";
LOCATE COMP "wb_ctrl_adr[23]" SITE "X";
LOCATE COMP "wb_ctrl_adr[24]" SITE "X";
LOCATE COMP "wb_ctrl_adr[25]" SITE "X";
LOCATE COMP "wb_ctrl_adr[26]" SITE "X";
LOCATE COMP "wb_ctrl_adr[27]" SITE "X";
LOCATE COMP "wb_ctrl_adr[28]" SITE "X";
LOCATE COMP "wb_ctrl_adr[29]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[0]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[1]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[2]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[3]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[4]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[5]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[6]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[7]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[8]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[9]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[10]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[11]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[12]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[13]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[14]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[15]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[16]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[17]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[18]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[19]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[20]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[21]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[22]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[23]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[24]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[25]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[26]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[27]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[28]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[29]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[30]" SITE "X";
LOCATE COMP "wb_ctrl_dat_w[31]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[0]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[1]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[2]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[3]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[4]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[5]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[6]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[7]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[8]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[9]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[10]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[11]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[12]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[13]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[14]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[15]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[16]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[17]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[18]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[19]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[20]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[21]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[22]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[23]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[24]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[25]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[26]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[27]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[28]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[29]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[30]" SITE "X";
LOCATE COMP "wb_ctrl_dat_r[31]" SITE "X";
LOCATE COMP "wb_ctrl_sel[0]" SITE "X";
LOCATE COMP "wb_ctrl_sel[1]" SITE "X";
LOCATE COMP "wb_ctrl_sel[2]" SITE "X";
LOCATE COMP "wb_ctrl_sel[3]" SITE "X";
LOCATE COMP "wb_ctrl_cyc" SITE "X";
LOCATE COMP "wb_ctrl_stb" SITE "X";
LOCATE COMP "wb_ctrl_ack" SITE "X";
LOCATE COMP "wb_ctrl_we" SITE "X";
LOCATE COMP "wb_ctrl_cti[0]" SITE "X";
LOCATE COMP "wb_ctrl_cti[1]" SITE "X";
LOCATE COMP "wb_ctrl_cti[2]" SITE "X";
LOCATE COMP "wb_ctrl_bte[0]" SITE "X";
LOCATE COMP "wb_ctrl_bte[1]" SITE "X";
LOCATE COMP "wb_ctrl_err" SITE "X";
LOCATE COMP "user_clk" SITE "X";
LOCATE COMP "user_rst" SITE "X";
LOCATE COMP "user_port_native_0_cmd_valid" SITE "X";
LOCATE COMP "user_port_native_0_cmd_ready" SITE "X";
LOCATE COMP "user_port_native_0_cmd_we" SITE "X";
LOCATE COMP "user_port_native_0_cmd_addr[0]" SITE "X";
LOCATE COMP "user_port_native_0_cmd_addr[1]" SITE "X";
LOCATE COMP "user_port_native_0_cmd_addr[2]" SITE "X";
LOCATE COMP "user_port_native_0_cmd_addr[3]" SITE "X";
LOCATE COMP "user_port_native_0_cmd_addr[4]" SITE "X";
LOCATE COMP "user_port_native_0_cmd_addr[5]" SITE "X";
LOCATE COMP "user_port_native_0_cmd_addr[6]" SITE "X";
LOCATE COMP "user_port_native_0_cmd_addr[7]" SITE "X";
LOCATE COMP "user_port_native_0_cmd_addr[8]" SITE "X";
LOCATE COMP "user_port_native_0_cmd_addr[9]" SITE "X";
LOCATE COMP "user_port_native_0_cmd_addr[10]" SITE "X";
LOCATE COMP "user_port_native_0_cmd_addr[11]" SITE "X";
LOCATE COMP "user_port_native_0_cmd_addr[12]" SITE "X";
LOCATE COMP "user_port_native_0_cmd_addr[13]" SITE "X";
LOCATE COMP "user_port_native_0_cmd_addr[14]" SITE "X";
LOCATE COMP "user_port_native_0_cmd_addr[15]" SITE "X";
LOCATE COMP "user_port_native_0_cmd_addr[16]" SITE "X";
LOCATE COMP "user_port_native_0_cmd_addr[17]" SITE "X";
LOCATE COMP "user_port_native_0_cmd_addr[18]" SITE "X";
LOCATE COMP "user_port_native_0_cmd_addr[19]" SITE "X";
LOCATE COMP "user_port_native_0_cmd_addr[20]" SITE "X";
LOCATE COMP "user_port_native_0_cmd_addr[21]" SITE "X";
LOCATE COMP "user_port_native_0_cmd_addr[22]" SITE "X";
LOCATE COMP "user_port_native_0_cmd_addr[23]" SITE "X";
LOCATE COMP "user_port_native_0_cmd_addr[24]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_valid" SITE "X";
LOCATE COMP "user_port_native_0_wdata_ready" SITE "X";
LOCATE COMP "user_port_native_0_wdata_we[0]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_we[1]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_we[2]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_we[3]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_we[4]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_we[5]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_we[6]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_we[7]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_we[8]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_we[9]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_we[10]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_we[11]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_we[12]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_we[13]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_we[14]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_we[15]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[0]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[1]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[2]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[3]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[4]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[5]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[6]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[7]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[8]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[9]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[10]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[11]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[12]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[13]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[14]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[15]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[16]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[17]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[18]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[19]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[20]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[21]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[22]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[23]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[24]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[25]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[26]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[27]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[28]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[29]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[30]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[31]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[32]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[33]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[34]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[35]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[36]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[37]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[38]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[39]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[40]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[41]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[42]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[43]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[44]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[45]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[46]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[47]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[48]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[49]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[50]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[51]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[52]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[53]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[54]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[55]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[56]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[57]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[58]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[59]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[60]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[61]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[62]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[63]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[64]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[65]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[66]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[67]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[68]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[69]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[70]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[71]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[72]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[73]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[74]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[75]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[76]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[77]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[78]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[79]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[80]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[81]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[82]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[83]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[84]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[85]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[86]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[87]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[88]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[89]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[90]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[91]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[92]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[93]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[94]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[95]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[96]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[97]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[98]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[99]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[100]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[101]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[102]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[103]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[104]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[105]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[106]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[107]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[108]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[109]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[110]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[111]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[112]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[113]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[114]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[115]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[116]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[117]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[118]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[119]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[120]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[121]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[122]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[123]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[124]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[125]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[126]" SITE "X";
LOCATE COMP "user_port_native_0_wdata_data[127]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_valid" SITE "X";
LOCATE COMP "user_port_native_0_rdata_ready" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[0]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[1]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[2]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[3]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[4]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[5]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[6]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[7]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[8]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[9]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[10]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[11]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[12]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[13]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[14]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[15]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[16]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[17]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[18]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[19]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[20]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[21]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[22]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[23]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[24]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[25]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[26]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[27]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[28]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[29]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[30]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[31]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[32]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[33]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[34]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[35]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[36]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[37]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[38]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[39]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[40]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[41]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[42]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[43]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[44]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[45]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[46]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[47]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[48]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[49]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[50]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[51]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[52]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[53]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[54]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[55]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[56]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[57]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[58]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[59]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[60]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[61]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[62]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[63]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[64]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[65]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[66]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[67]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[68]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[69]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[70]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[71]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[72]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[73]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[74]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[75]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[76]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[77]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[78]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[79]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[80]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[81]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[82]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[83]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[84]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[85]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[86]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[87]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[88]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[89]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[90]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[91]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[92]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[93]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[94]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[95]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[96]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[97]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[98]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[99]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[100]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[101]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[102]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[103]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[104]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[105]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[106]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[107]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[108]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[109]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[110]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[111]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[112]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[113]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[114]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[115]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[116]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[117]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[118]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[119]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[120]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[121]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[122]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[123]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[124]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[125]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[126]" SITE "X";
LOCATE COMP "user_port_native_0_rdata_data[127]" SITE "X";